<%= form_for(@loan, :html => {:role => "form"}) do |f| %>
  <% if @loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
      <% @loan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_group">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="form_group">
    <%= f.label :bank_id %><br>
    <%= f.select(:bank_id, Bank.all.map{|b| [b.name, b.id]}, {}, :class => "form-control", :width => "200px") %>
  </div>
  <div class="form_group">
    <%= f.label :loan_type_id %><br>
    <%= f.select(:loan_type_id, LoanType.all.map{|b| [b.name, b.id]}, {}, :class => "form-control") %>
  </div>
  <div class="form_group">
    <%= f.label :reference_rate %><br>
    <%= f.select(:reference_rate, ReferenceRate.all.map{|b| [b.name, b.name]}, {}, :class => "form-control") %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
  </div>
<% end %>
