<div class="comparison_result_title">
	<center>
	<h3><%= number_to_currency(@principal, :unit => "EUR ", :separator => ",", :delimiter => ".") %>
	na
	<%= @duration %> mesecev</h3>
	</center>
</div>

<% @best_loans.each do |bl| %>
	<div class="comparison_result">
		<h2><%= bl[:loan].bank.name + " - " + bl[:loan].name%></h2>
		<table width=100%>
		<tr>
			<td>Anuiteta:</td>
			<td><%= number_to_currency(bl[:payment], :unit => "EUR ", :separator => ",", :delimiter => ".") %></td>
		</tr>
		<tr>
			<td>Obrestna mera:</td>
			<td><%= number_to_percentage(bl[:interest_rate], :precision => 2, :separator => ",") %></td>
		</tr>
		<tr>
			<td>Referenčna obrestna mera:</td>
			<td><%= number_to_percentage(bl[:ref_rate], :precision => 2, :separator => ",") %>(<%= bl[:ref_rate_name] %>)</td>
		</tr>
		<tr>
			<td>EOM:</td>
			<td><%= number_to_percentage(bl[:eom], :precision => 2, :separator => ",") %></td>
		</tr>
		<tr>
			<td>Strošek odobritve in zavarovanja:</td>
			<td><%= number_to_currency(bl[:costs], :unit => "EUR ", :separator => ",", :delimiter => ".") %></td>
		</tr>
		<tr>
			<td>Skupni strošek kredita:</td>
			<td><%= number_to_currency(bl[:total_cost], :unit => "EUR ", :separator => ",", :delimiter => ".") %></td>
		</tr>
		</table>
	</div>
<% end -%>