<p id="notice"><%= notice %></p>

<h2>Kredit</h2>
<p>
  Ime: <%= @loan.name %><br>
  Banka: <%= @loan.bank.name %><br>
  Tip: <%= @loan.loan_type.name %><br/>
  Referenčna obr. mera: <%= @loan.reference_rate %><br/>
</p>
<%= link_to 'Uredi', edit_loan_path(@loan) %>

<h2>Obrestne mere - fiksne</h2>
<p>
	<%= link_to link_to content_tag(:span, '', :class => 'glyphicon glyphicon-plus'), new_interest_rate_path %>
	<table>
		<thead>
		    <tr>
		      <th>Od</th>
		      <th>Do</th>
		      <th>Komitent</th>
		      <th>Zavarovan</th>
		      <th>Obr. mera</th>
		      <th></th>
		      <th></th>
		    </tr>
	  	</thead>
	  	<tbody>
			<% @loan.interest_rates.where(:fixed => true).order("duration_from").each do |interest_rate| %>
				<tr>
		        <td><%= interest_rate.duration_from %></td>
		        <td><%= interest_rate.duration_to %></td>
		        <td><%= interest_rate.bank_customer ? "da" : "ne" %></td>
		        <td><%= interest_rate.insured ? "da" : "ne" %></td>
		        <td><%= interest_rate.rate %></td>
		        <td><%= link_to content_tag(:span, '', :class => 'glyphicon glyphicon-edit'), edit_interest_rate_path(interest_rate) %></td>
		        <td><%= link_to content_tag(:span, '', :class => 'glyphicon glyphicon-remove'), interest_rate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		        </tr>
			<% end -%>
		</tbody>
	</table>
</p>

<h2>Obrestne mere - variabilne</h2>
<p>
	<%= link_to link_to content_tag(:span, '', :class => 'glyphicon glyphicon-plus'), new_interest_rate_path %>
	<table>
		<thead>
		    <tr>
		      <th>Od</th>
		      <th>Do</th>
		      <th>Komitent</th>
		      <th>Zavarovan</th>
		      <th>Obr. mera</th>
		      <th></th>
		      <th></th>
		    </tr>
	  	</thead>
	  	<tbody>
			<% @loan.interest_rates.where(:fixed => false).order("duration_from").each do |interest_rate| %>
				<tr>
		        <td><%= interest_rate.duration_from %></td>
		        <td><%= interest_rate.duration_to %></td>
		        <td><%= interest_rate.bank_customer %></td>
		        <td><%= interest_rate.insured %></td>
		        <td><%= interest_rate.rate %></td>
		        <td><%= link_to content_tag(:span, '', :class => 'glyphicon glyphicon-edit'), edit_interest_rate_path(interest_rate) %></td>
		        <td><%= link_to content_tag(:span, '', :class => 'glyphicon glyphicon-remove'), interest_rate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		        </tr>
			<% end -%>
		</tbody>
	</table>
</p>

<h2>Strošek odobritve</h2>
<%= link_to link_to content_tag(:span, '', :class => 'glyphicon glyphicon-plus'), new_appraisal_fee_path %>
<table>
  <thead>
    <tr>
      <th>Od</th>
      <th>Do</th>
      <th>%</th>
      <th>Fiksno min</th>
      <th>Fiksno max</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @loan.appraisal_fees.each do |appraisal_fee| %>
      <tr>
        <td><%= appraisal_fee.duration_from %></td>
        <td><%= appraisal_fee.duration_to %></td>
        <td><%= appraisal_fee.percentual %></td>
        <td><%= appraisal_fee.fixed_min %></td>
        <td><%= appraisal_fee.fixed_max %></td>
        <td><%= link_to content_tag(:span, '', :class => 'glyphicon glyphicon-edit'), edit_appraisal_fee_path(appraisal_fee) %></td>
        <td><%= link_to content_tag(:span, '', :class => 'glyphicon glyphicon-remove'), appraisal_fee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Strošek zavarovanja</h2>
<%= link_to link_to content_tag(:span, '', :class => 'glyphicon glyphicon-plus'), new_insurance_fee_path %>
<table>
  <thead>
    <tr>
      <th>Od</th>
      <th>Do to</th>
      <th>%</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @loan.insurance_fees.each do |insurance_fee| %>
      <tr>
        <td><%= insurance_fee.duration_from %></td>
        <td><%= insurance_fee.duration_to %></td>
        <td><%= insurance_fee.percentual %></td>
        <td><%= link_to 'Uredi', edit_insurance_fee_path(insurance_fee) %></td>
        <td><%= link_to 'Briši', insurance_fee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


