<!DOCTYPE html>
<html>
<head>
  <title>Bankir1</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="collapse navbar-collapse">
<!-- <ul class="nav nav-pills"> -->
<ul class="nav navbar-nav">
	<li><%= link_to "Krediti", :controller => "/loans" %></li>
	<li><%= link_to "Banke", :controller => "/banks" %></li>
	<li><%= link_to "Tipi posojil", :controller => "/loan_types" %></li>
	<li><%= link_to "Primerjava", :controller => "/loans", :action => "comparison" %></li>
</ul>
<!-- <ul class="nav navbar-nav navbar-right">
  <li><%#= link_to "tema1", {:action => "change_theme", :name => "vintaged"}, :remote => true %></li>
</ul> -->
</div>

<div class="container">
	<%= yield %>
</div>

</body>
</html>
