<!DOCTYPE html>
<html>
<head>
  <title>Bankir1</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
	<%= link_to "Krediti", :controller => "/loans" %> |
	<%= link_to "Banke", :controller => "/banks" %> |
	<%= link_to "Tipi posojil", :controller => "/loan_types" %>
	<hr/>
</div>

<%= yield %>

</body>
</html>
